@import './common';
@import './example';

.header-form {
  background-color: aquamarine;
  padding: 15px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: skyblue;
  padding: 15px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  cursor: pointer;
}

.button:hover {
  background-position: right center;
  // background-color: coral;
}

.input-form {
  padding: 5;
  line-height: 30px;
  background: #faab1b;
  border-width: 0;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

a {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  text-decoration: none;
}

.photo-card {
  // width: 350px;
  padding: 10px 14px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.info {
  flex-direction: column;
  flex-wrap: wrap;
}

img {
  display: block;
}
